<div>

  {% for obj_widget in obj_widgets %}
    
    {% if obj_widget.template == 'TEMPLATE_MAIN_CAROUCEL' %}
      {{ include('widget/_mainCaroucel.html.twig', {obj_widget: obj_widget}) }}  
    
    {% elseif obj_widget.template == 'TEMPLATE_CONTENT_CAROUCEL' %}
      {{ include('widget/_owlCaroucel.html.twig', {obj_widget: obj_widget}) }}  
    
    {% elseif obj_widget.template == 'TEMPLATE_SUBSCRIPTION' %}
      {{ include('widget/_subscribe.html.twig', {obj_widget: obj_widget}) }}
    
    {% elseif obj_widget.template == 'TEMPLATE_VIDEO' %}
      {{ include('widget/_video.html.twig', {obj_widget: obj_widget}) }}
    
    {% elseif obj_widget.template == 'TEMPLATE_ONE_FLUID_IMAGE' %}
      {{ include('widget/_oneFluidImage.html.twig', {obj_widget: obj_widget}) }}
    
    {% elseif obj_widget.template == 'TEMPLATE_OFFICE' %}
   
      {{ include('widget/_office.html.twig', {obj_widget: obj_widget}) }}
    
    {% elseif obj_widget.template == 'TEMPLATE_LIGHTBOX_IMAGES' %}
    
      {{ include('widget/_lightboxImages.html.twig', {obj_widget: obj_widget}) }}
    
    {% elseif obj_widget.template == 'TEMPLATE_CONTENT_SIMPLE' %}
    
      {{ include('widget/_simpleContent.html.twig', {obj_widget: obj_widget}) }}
    
    {% endif %}

  {% endfor %}

</div>