<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Catalog{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <style>
            .bg_color_main{background: {{app.session.get('appParam').bgColorMain}}}
            .bg_color_secondary{background: {{app.session.get('appParam').bgColorSecondary}}}
            .primary_color{background: {{app.session.get('appParam').primaryColor}}}
            .secondary_color{background: {{app.session.get('appParam').secondaryColor}}}
            .tertiary_color{background: {{app.session.get('appParam').tertiaryColor}}}
        </style>
   
    </head>
    <body 
        {#
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ stimulus_controller('user-api', {
                url: path('app_ajax_user_detail')
            }) }}
        {% endif %}
        #}
    >

        {{ component('menu') }}
        
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">{{ flash }}</div>
        {% endfor %}
        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger">{{ flash }}</div>
        {% endfor %}

        {% block body %}{% endblock %}

        {{ component('footer') }}

    </body>
</html>

{#
{% if is_granted('ROLE_ADMIN') %}
<a class="text-white" href="{{ ea_url()
    .setController('App\\Controller\\Admin\\QuestionCrudController')
    .setAction('edit')
    .setEntityId(question.id)
}}">
        <span class="fa fa-edit"></span>
    </a>
{% endif %}
#}


{#
<a href="https://wa.me/51999999999?text=Hola%2C+tengo+una+consulta..." id="okapi-wasb-button" target="_blank">
	<img id="okapi-wasb-icon" src="https://homepage.com/assets/wp.png">
</a>
#}