{% set company = app.session.get('appParam') %}
{% set generalMenu = this.getMenuItems() %}

<div id="footer" class="secondary_color">
<footer class="container py-5 footer">

    <div class="row mb-5">

        {% for menu  in generalMenu.withChilds %}
            <div class="col-6 col-md">
            <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    {% for chilMenu in menu.menus %}
                        <li><a class="link-secondary" href="#">{{chilMenu.getTranslateName}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">    
            {% for menu  in generalMenu.noChilds %}
                <li><a class="link-secondary" href="#">{{menu.getTranslateName}}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="col-6 col-md">
            <h5 class="my-3">Contáctanos</h5>

            <p>{{company.legalName}}</br>
            {{company.address}}<br>
            {{company.city}} {{company.province}} {{company.Country}}</p>
            
            <hr>
            
            <p>
                {{((company.phoneMain) ? company.phoneMain~'<br>': '')|striptags('<br>')|raw}}
                {{((company.phoneSales) ? company.phoneSales~'<br>': '')|striptags('<br>')|raw}}
                {{((company.phoneSupport) ? company.phoneSupport~'<br>': '')|striptags('<br>')|raw}}
            </p>
        
        </div>

    </div>

    <div class="row my-3">
    
        <div class="col-4 col-md">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img width="80" alt="logo-footer" src="/uploads/logo/{{ company.logo }}">
            </a>
        </div>

        <div class="col-4 col-md d-flex align-items-center justify-content-center">
            <small>&copy; {{company.name |upper}} {{"now"|date("Y")}}. {{'All rights reserved'| trans }}</small>
        </div>

        <div class="col-4 col-md  d-flex align-items-center justify-content-end">
            <strong><i class="far fa-circle"></i> ESCENCIAL STUDIO</strong>
        </div>

    </div>

</footer>
</div>