<div id="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top pt-5" style="background-color: rgba(0, 166, 235, .85)">
        <div class="container">
            <a class="navbar-brand" href="#">
                <div class="container-logo ">
                    <img id="logoApp" src="/uploads/logo/{{ app.session.get('appParam').logo }}">
                    <em>{{app.session.get('appParam').translate(app.request.locale).slogan}}</em>
                </div>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav nav ms-auto col-12 col-md-auto mb-2 justify-content-end mb-md-0">
                {% for menuItem in this.menuItems %}
                    
                    {% set childMenu =  menuItem.menus %}
                    {% set chilItems = childMenu|length %}
                    <li class="nav-item {{chilItems > 0 ? 'dropdown': '' }}" >
                        {#<a class="nav-link active" aria-current="page" href="#">Home</a>#}
                        <a class="nav-link {{chilItems > 0 ? 'dropdown-toggle': ''}}" href="#" {{ chilItems > 0 ?'id="navbarDropdown-{{menuItem.id}}" role="button" data-bs-toggle="dropdown" aria-expanded="false"' : ''}} >{{menuItem.getTranslateName}}</a>

                        {% if chilItems > 0 %}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{menuItem.id}}">
                            {% for chilMenuItem in childMenu %}
                                <li><a class="dropdown-item" href="#">{{chilMenuItem.getTranslateName}}</a></li>
                            {% endfor %}
                            </ul>    
                        {% endif %}
                    
                    </li>
                {% endfor %}
                
                <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fas fa-search"></i></a></li>
                <li class="nav-item">{{ include('widget/_language.html.twig', {primaryColor: '#fff', secondaryColor: 'transparent'}) }}</li>

            </ul>


            {#
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            #}

            </div>
        </div>
    </nav>


    {#
    <header class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
      
    </header>
    #}
</div>

{#
<nav 
class="navbar navbar-expand-lg navbar-light bg-light px-1"
{{ is_granted('ROLE_PREVIOUS_ADMIN') ? 'style="background-color: red !important"' }}>

<div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">
        <p class="pl-2 d-inline font-weight-bold" style="color: #444;">
            BUCKY SNACKS</p>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapsable">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_browse') }}">Browse</a>
            </li>
        </ul>

        {{ include('widget/_language.html.twig', {primaryColor: '#000', secondaryColor: '#fff'}) }}

        
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            
            <div class="dropdown">
                <button
                    class="dropdown-toggle btn"
                    type="button"
                    id="user-dropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="{{app.user.getAvatarUri}}"
                        alt="{{app.user.getDisplayName}}">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                    
                    
                    <li>
                        <a class="dropdown-item" href="{{ path('app_2fa_enable') }}">Enble 2fa</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="dropdown-item" href="{{ path('admin') }}">Dashboard</a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_homepage', {
                                '_switch_user': '_exit'
                            }) }}">Exit Impersonation</a>
                        </li>
                        <!-- https://localhost?_switch_user=user_email_to_switch -->
                    {% endif %}

                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                    </li>
                </ul>
            </div>

        {% else %}

            <a class="nav-link text-black-50" href="{{ path('app_login') }}">Log In</a>
            <a href="{{path('app_register')}}" class="btn btn-dark">Sign up</a>

        {% endif %}

        

    </div>
</div>
</nav>
#}

{#
<header class="site-header sticky-top py-1 bg_color_main">
<nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#" aria-label="Product">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
</nav>
</header>
#}