{% extends "base.html.twig" %}
{% block title %} Homepage | {{parent()}} {% endblock %}
{% block body %}

<main>

  {% for obj_widget in obj_widgets %}
    {% if obj_widget.template == 'TEMPLATE_MAIN_CAROUCEL' %}
      {{ include('widget/_mainCaroucel.html.twig', {obj_widget: obj_widget}) }}  
    {% elseif obj_widget.template == 'TEMPLATE_CONTENT_CAROUCEL' %}
      {{ include('widget/_owlCaroucel.html.twig', {obj_widget: obj_widget}) }}  
    {% elseif obj_widget.template == 'TEMPLATE_SUBSCRIPTION' %}
      {{ include('widget/_subscribe.html.twig', {obj_widget: obj_widget}) }}
    {% elseif obj_widget.template == 'TEMPLATE_VIDEO' %}
      {{ include('widget/_video.html.twig', {obj_widget: obj_widget}) }}
    {% elseif obj_widget.template == 'TEMPLATE_OFFICE' %}
      {{ include('widget/_office.html.twig', {obj_widget: obj_widget}) }}
    {% endif %}
  {% endfor %}

</main>

  {#
  <a href="{{path('app_homepage')}}" class="btn btn-sm btn-primary">Hompage</a>
  <a href="{{path('app_browse', {slug: 'Category 1'})}}" class="btn btn-sm btn-primary">Category 1</a>
    <ul class="data-list">
    {% for row in rows %}
        <li {{stimulus_controller('product', {url: path('app_ajax_produc_detail', {id: loop.index})})}} class="data-item">
            <a href="#" {{stimulus_action('product', 'showDeail')}}>{{row.name}} - {{row.desc}}</a> 
        </li>
    {% endfor %}
    </ul>
  #}


{% endblock %}